#advanced {
  background-color: #f0f1f6;
  padding: 5% 0;

  @include MediaRespond("tel") {
    padding: 15% 0;
  }

  .container {
    .row {
      position: relative;

      .top-heading {
        font-weight: 700;
      }

      .top-paragraph {
        color: #a9a8af;
        padding: 0 30.5%;

        @include MediaRespond("tel") {
          padding: 0 15% 7.5% 15%;
        }
      }

      .line {
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        background-color: #32c9c5;
        height: 10px;
        width: 75%;

        @include MediaRespond("tel") {
          width: 3.5%;
          height: 750px;
          padding: 0;
        }
      }

      .cards-col {
        margin-top: 5%;

        @include MediaRespond("tel") {
          margin-top: 10%;
        }

        .custom-card {
          position: relative;
          background-color: white;
          padding: 15% 10% 10%;
          min-height: 225px;
          border-radius: 5px;
          box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.5);
          transition: 0.3s;

          @include MediaRespond("tablet") {
            min-height: 200px;
            padding: 15%;
          }

          .img-div {
            position: absolute;
            left: 10%;
            top: -15%;
            width: 20%;
            border-radius: 50%;
            padding: 5%;
            background-color: #383155;

            @include MediaRespond("tablet") {
              top: -10%;
              width: 22%;
            }

            @include MediaRespond("tel") {
              left: 50%;
              transform: translate(-50%, -50%);
              top: 0;
            }

            img {
              width: 100%;
            }
          }

          h5 {
            font-weight: 700;

            @include MediaRespond("tablet") {
              font-size: 1rem;
            }

            @include MediaRespond("tel") {
              font-size: 1.6rem;
              text-align: center;
            }
          }

          p {
            color: #a9a8af;
            padding-right: 5.5%;

            @include MediaRespond("tablet") {
              font-size: 0.9rem;
            }

            @include MediaRespond("tel") {
              text-align: center;
              font-size: 1.1rem;
              padding-right: 0;
            }
          }
        }

        .custom-card:hover {
          transform: translateY(-13px);
        }

        .second-custom-card {
          margin-top: 10%;
        }

        .third-custom-card {
          margin-top: 20%;
        }
      }
    }
  }
}
