#boost {
  position: relative;
  padding: 5% 0;
  background-image: url(../images/bg-boost-desktop.svg);

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: inherit;
    background-color: $common-color;
    opacity: 0.95;
  }

  .container {
    .row {
      .boost-col {
        position: relative;
        z-index: 2;
        @include Flexing(center, null, column);

        h2 {
          font-weight: 700;
          color: white;
        }

        .boost-btn {
          display: inline-block;
          background-color: #9ae3e3;
          color: white;
          padding: 5.5px 24px;
          border-radius: 50px;
          border: 2px solid transparent;
          margin-top: 1.5%;
          transition: 0.3s;
        }

        .boost-btn:hover {
          color: #9ae3e3;
          background-color: white;
          border: 2px solid #9ae3e3;
        }
      }
    }
  }
}
