footer {
  background-color: $footer-bg;
  padding: 5% 0;

  @include MediaRespond("tel") {
    padding: 10% 0;
  }

  .container {
    .row {
      .footer-logo-col {
        h4 {
          color: white;
          font-weight: 700;
        }

        @include MediaRespond("tel") {
          text-align: center;
          margin-bottom: 5%;
        }
      }

      .footer-list-col {
        @include MediaRespond("tel") {
          text-align: center;
          margin-bottom: 7.5%;
        }

        h6 {
          color: white;
        }

        ul {
          li {
            a {
              display: inline-block;
              color: #a9a7ac;
              transition: 0.3s;
            }

            a:hover {
              color: $btn-color;
            }
          }
        }
      }

      .footer-icons-col {
        @include MediaRespond("tel") {
          @include Flexing(null, center);
        }

        ul {
          @include Flexing;

          li {
            .img-div {
              width: 85%;

              @include MediaRespond("tel") {
                width: 125%;
              }

              img {
                width: 100%;
              }
            }
          }

          li:not(:last-child) {
            margin-right: 7.5%;

            @include MediaRespond("tel") {
              margin-right: 15%;
            }
          }
        }
      }
    }
  }
}
