#form {
  background-color: #f0f1f6;

  .container {
    .row {
      .form-col {
        margin-top: -4%;

        @include MediaRespond("tablet") {
          margin-top: -6%;
        }

        @include MediaRespond("tel") {
          margin-top: -15%;
        }

        #term-form {
          background-color: $common-color;
          padding: 4% 2%;
          border-radius: 6px;

          @include MediaRespond("tel") {
            padding: 5%;
          }

          .input-btn-group {
            justify-content: center;

            @include MediaRespond("tel") {
              flex-direction: column;
            }

            .form-input {
              width: 75%;
              box-shadow: none !important;
              border: 1px solid transparent;

              @include MediaRespond("tel") {
                width: 100%;
              }
            }

            @include MediaRespond("tablet") {
              .form-input::placeholder {
                font-size: 0.9rem;
              }
            }

            .form-input.is-validation {
              border: 1px solid red;
            }

            button {
              background-color: $btn-color;
              margin-left: 2.5%;
              border-radius: 5%;
              font-weight: 600;
              box-shadow: none !important;
              padding: 1.5% 3.5%;

              @include MediaRespond("tel") {
                margin-top: 3.5%;
                margin-left: 0;
              }
            }
          }

          .text-validation {
            margin-left: 2.75% !important;
          }
        }

        .list-group {
          .list-group-item {
            .row {
              .link-response-left {
                @include MediaRespond("tablet") {
                  font-size: 0.8rem;
                }

                .link-response-left-link-text {
                  word-break: break-all;
                }
              }

              .link-response-right {
                @include Flexing(center, flex-end);

                @include MediaRespond("tel") {
                  @include Flexing(center, center);
                  margin-top: 2.5%;
                }

                .copy-btn {
                  float: right;
                  box-shadow: none !important;
                  background-color: #2cd0ce;
                  border: none !important;
                  padding: 2.5% 9.5%;
                  color: white;
                  font-weight: 600;
                  transition: 0.3s;

                  @include MediaRespond("tel") {
                    padding: 1.5% 7.5%;
                  }
                }

                .copied {
                  background-color: #3a3053;
                }
              }
            }
          }
        }
      }
    }
  }
}
