#get-started {
  padding: 5% 0 7.5% 0;

  @include MediaRespond("tablet") {
    padding: 10% 0;
  }

  @include MediaRespond("tel") {
    padding: 11.5% 0 18.5% 0;
  }

  .container {
    .row {
      align-items: center;

      @include MediaRespond("tel") {
        flex-direction: column-reverse;
      }

      .get-started-left {
        @include MediaRespond("tel") {
          text-align: center;
        }

        h1 {
          font-size: 4rem;
          font-weight: 700;

          @include MediaRespond("tablet") {
            font-size: 3rem;
          }
        }

        p {
          padding-right: 35%;
          color: #a9a8af;

          @include MediaRespond("tel") {
            padding: 0 17.5%;
          }
        }

        .get-started-btn {
          display: inline-block;
          font-weight: 600;
          margin-top: 5%;
          background-color: #9ae3e3;
          color: white;
          padding: 7px 23px;
          border-radius: 50px;
          border: 2px solid transparent;
          transition: 0.3s;
        }

        .get-started-btn:hover {
          color: #9ae3e3;
          background-color: white;
          border: 2px solid #9ae3e3;
        }
      }

      .get-started-right {
        @include MediaRespond("tel") {
          margin-bottom: 5%;
          overflow: hidden;
        }

        .img-div {
          width: 125%;
          position: relative;
          right: -12.5%;

          @include MediaRespond("tablet") {
            width: 100%;
          }

          @include MediaRespond("tel") {
            width: 120%;
            right: -20%;
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }
}
