header {
  nav {
    padding: 1.5% 0;

    @include MediaRespond("tablet") {
      padding: 5% 0;
    }

    .container {
      .row {
        align-items: center;

        .left-nav {
          .left-nav-ul {
            @include Flexing(center);

            .img-div {
              width: 80%;
              img {
                width: 100%;
              }
            }

            li {
              a {
                display: inline-block;
                color: #a9a8af;
                font-weight: 600;
                transition: 0.3s;
              }

              a:hover {
                color: #2a2930;
              }
            }

            li:not(:first-child),
            li:not(:last-child) {
              margin-left: 2.5%;
            }
          }
        }
        .right-nav {
          display: block;

          .right-nav-ul {
            @include Flexing(center, flex-end);
            li {
              a {
                display: inline-block;
                color: #a9a8af;
                font-weight: 600;
                transition: 0.3s;
              }

              a:hover {
                color: #2a2930;
              }
            }
            .nav-login-li {
              margin-left: 4%;
              .nav-login-btn {
                background-color: #9ae3e3;
                color: white;
                padding: 5.5px 24px;
                border-radius: 50px;
                border: 2px solid transparent;
                transition: 0.3s;
              }

              .nav-login-btn:hover {
                color: #9ae3e3;
                background-color: white;
                border: 2px solid #9ae3e3;
              }
            }
          }
        }

        .right-mini-nav {
          display: none;
        }

        @include MediaRespond("tel") {
          .left-nav {
            .left-nav-ul {
              .img-div {
                width: 65%;
              }

              li:not(:first-child) {
                display: none;
              }
            }
          }

          .right-nav {
            display: none;
          }

          .right-mini-nav {
            @include Flexing(null, flex-end);

            .bar-btn {
              border: none;
              background-color: transparent;
              color: #9a99a1;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
