header {
  nav {
    padding: 1.5% 0;

    @include MediaRespond("tablet") {
      padding: 5% 0;
    }

    .container {
      .row {
        align-items: center;

        .left-nav {
          .left-nav-ul {
            @include Flexing(center);

            .img-div {
              width: 80%;
              img {
                width: 100%;
              }
            }

            li {
              a {
                display: inline-block;
                color: #a9a8af;
                font-weight: 600;
                transition: 0.3s;
              }

              a:hover {
                color: #2a2930;
              }
            }

            li:not(:first-child),
            li:not(:last-child) {
              margin-left: 2.5%;
            }
          }
        }
        .right-nav {
          display: block;

          .right-nav-ul {
            @include Flexing(center, flex-end);
            li {
              a {
                display: inline-block;
                color: #a9a8af;
                font-weight: 600;
                transition: 0.3s;
              }

              a:hover {
                color: #2a2930;
              }
            }
            .nav-login-li {
              margin-left: 4%;
              .nav-login-btn {
                background-color: #9ae3e3;
                color: white;
                padding: 5.5px 24px;
                border-radius: 50px;
                border: 2px solid transparent;
                transition: 0.3s;
              }

              .nav-login-btn:hover {
                color: #9ae3e3;
                background-color: white;
                border: 2px solid #9ae3e3;
              }
            }
          }
        }

        .right-mini-nav,
        .mini-nav-box {
          display: none;
        }

        @include MediaRespond("tel") {
          .left-nav {
            .left-nav-ul {
              .img-div {
                width: 75%;
              }

              li:not(:first-child) {
                display: none;
              }
            }
          }

          .right-nav {
            display: none;
          }

          .right-mini-nav {
            @include Flexing(null, flex-end);

            .bar-btn {
              border: none;
              background-color: transparent;
              color: #9a99a1;
              font-size: 1.4rem;
            }
          }

          .mini-nav-box {
            display: none;
            position: absolute;
            top: 7.5%;
            z-index: 999;

            &.vis {
              display: block;
            }

            .mini-nav-inner-box {
              background-color: $common-color;
              padding: 10% 5%;

              ul {
                li {
                  text-align: center;
                  margin: 3.5% 0;

                  a {
                    display: inline-block;
                    color: white;
                    font-size: 1.1rem;
                    font-weight: 600;
                  }

                  .login-btn {
                    background-color: #9ae3e3;
                    color: white;
                    padding-top: 2.5%;
                    padding-bottom: 2.5%;
                    width: 100%;
                    border: 2px solid transparent;
                    transition: 0.3s;
                  }

                  .login-btn:hover {
                    color: #9ae3e3;
                    background-color: white;
                    border: 2px solid #9ae3e3;
                  }
                }
              }

              ul:first-child {
                border-bottom: 1px solid #504669;
              }
            }
          }
        }
      }
    }
  }
}
