* {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin: 0 !important;
  padding: 0 !important;
}

p {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}
